.laman {
    display: flex;
    gap: 10px 50px;
    justify-content: flex-end;
    width: 1110px;
    padding: 10px;
    margin-top: -152px;
    margin-left: 61px;
  
  
}


.V1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
   z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top bottom;
    object-fit: cover;
}

video {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    
}



.logo {
    width: 150px; 
    height: 150px; 
    margin-left: 30px;
    margin: 23px 0 0 0;
    border-radius: 50%;
    box-shadow: 0px 0px 40px;
    object-fit: cover;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    margin-left: 20px;
    position: sticky;

   

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}   



.bot {
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.bot:hover {
    background-color: #f0f0f0;
    color: #000;
    border-radius: 5px;
}

.bot:active {
    background-color: #ccc;
    color: #000;
}  



h1{
font-size:100px ;
margin-top: -15px;
font-family:'Times New Roman', Times, serif;

}h2{
font-size: 38px;
padding-top:85px;
}


.one{
display: flex;
}.subDiv{
background-color: rgba(201, 198, 198, 0.466);
width: 750px;
height: 600px;
margin-top: 90px;
margin-left: 270px;
border-radius: 10px;
z-index: -1;
}

p{
margin-top: 50px;
justify-content: center;
}.content{
margin: 50px;
}


.A-header {
    background-color: #4d2f0c;
    color: #ffffff;
    padding: 10px;
    text-align: center;
   
}


.myText {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    
}

.social:link{
    background-color: transparent;
    text-decoration: underline;
}


.social:visited {
    color: rgb(65, 36, 6);
    background-color: transparent;
    text-decoration: underline;
  }
  
.social:hover {
    color: rgb(229, 163, 88);
    background-color: transparent;
    text-decoration: underline;
  }
  
.social:active {
    color: rgb(136, 75, 6);
    background-color: transparent;
    text-decoration: underline;
  }

@media screen and (max-width: 480px) {
    .A-header {
        width: 100%;
        font-size: 18px;
    }

    .laman {
        display: flex;
        flex-direction: flex-start;
        align-items: center;
        width: 100%;
        margin-left: 0;
        gap: 5px;
        margin-top: -140px;
        
    }

    .video {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .V1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top bottom;
    }

    .logo {
        width: 80px;
        height: 80px;
        margin-top: 30px;
        margin-left: 10px;
    }

    .bot {
        font-size: 14px;
        padding: 8px 15px;
    }



    .myText {
        font-size: 18px;
        
    }


    .display-1, .display-2 {
        font-size: 30px;
        width: 100%;
        padding-top: 50px;
        margin-top: 50px;
    }


    .subDiv{
       
        width: 150px;
        height: 1000px;
        margin-top: 90px;
        margin-left: 15px;
        border-radius: 10px;
        margin-top: 250px;
        }
        body {
            background-color: #381f05;
        }



}

