


.logo {
    width: 150px; 
    height: 150px; 
    margin: 23px 0 0 32px;
    border-radius: 50%;
    box-shadow: 0px 0px 40px;
    object-fit: cover;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
}

.laman {
    display: flex;
    gap: 10px 50px;
    justify-content: flex-end;
    width: 710px;
    padding: 10px;
    margin-top: -150px;
    margin-left: 462px;
}

.V1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top bottom;
    object-fit: cover;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bot {
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.bot:hover {
    background-color: #f0f0f0;
    color: #000;
    border-radius: 5px;
}

.bot:active {
    background-color: #ccc;
    color: #000;
}

h2 {
    color: #000000;
    font-family: serif;
    font-size: 40px;
    font-weight: 400;
    width: 400px;
    text-align: center;
}

h1 {
    font-family:serif;
    font-size: 50px;
    color: #0a0909;
    font-weight: 600;
    margin-top: 30px;
    width: 350;
    padding-top: 100px;
}

.L1 {
    text-align: center;
    font-size: 64px;
    color: #000000;
    height: 80px;
    width: 600px;
    margin-bottom: 110px;
    margin-top:20px;
}

.Letter { 
    text-align: center;
    font-size: 64px;
    color: #000000;
    height: 80px;
    width: 600px;
    padding-top: 520px;
    padding-bottom: 100px;
}

.grid{
    display: grid;
    gap: 15px; 
    margin: 15px;
    background-color: rgba(174, 140, 98, 0.564);
    width: 310px;
}

.row{
    margin-left: 30px;
    margin-right: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}   

.bilog {
    width: 240px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.6s;
    border-radius: 60%;
    margin-bottom: 10px;
    margin:20px;
}

.bilog:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.pangalan {
    font-family: 'Brush Script', cursive;
    font-style: oblique;
    color: #000000;
}
.pangalan:hover {
    color: #7D2D00;
    font-size: 20px;
    transition: 0.6s;
}   

.grid-item img {
    width: 200px;
    margin-bottom: 10px;
}

a {
    text-decoration: none; 
}

.A-header {
    background-color: #4d2f0c;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.myText {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}



@media screen and (max-width: 900px) {
    .A-header {
        width: 100%;
        font-size: 18px;
    }

    .laman {
        display: flex;
        flex-direction: flex-start;
        align-items: center;
        width: 100%;
        margin-left: 10px;
        margin-top: -145px;
        gap: 5px;
    }

    .video {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .V1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top bottom;
    }

    .logo {
        width: 80px;
        height: 80px;
        margin-top:  60px;
        margin-left: 10px;
        
    }

    .bot {
        font-size: 14px;
        padding: 8px 15px;
    }

    h1 {
        font-size: 24px;
        margin-top: 20px;
    }

    h2 {
        font-size: 20px;
        width: 100%;
    }

    .Letter {
        font-size: 32px;
        margin-left: 0;
        width: 100%;
        padding-top: 300px;
    }

    .pangalan {
        font-size: 16px;
        
    }

    
    .L1 {
        font-size: 32px;
        width: 100%;
        margin-bottom: 50px;
    }

    .bilog {
        width: 100px;
        height: 100px;
       
    }

    .grid {
        width:180px;
        margin: 0 auto;
        
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

   
        
    
    

    .container {
        margin-top: 5px;
    }

    .myText {
        font-size: 18px;
    }
}
